<footer>
  <div class="footerSpace">
    <div>
      <i class="fab fa-github fa-2x"></i>
      <i class="fab fa-linkedin fa-2x"></i>
    </div>
    <div>
      <span>Stay relevant</span>
    </div>
    <div>
      Copyright &copy <%= Time.new.strftime("%Y") %> PiZu
    </div>
  </div>
</footer>