<footer>
  <div class="footerSpace">
    <div>
      <a href="https://github.com/Peteami/blog" target="_blank"><i class="fab fa-github fa-2x"></i></a>
      <a href="https://github.com/Peteami/blog"><i class="fab fa-linkedin fa-2x"></i></a>
    </div>
    <div>
      <span>Stay relevant</span>
    </div>
    <div>
      Copyright &copy <%= Time.new.strftime("%Y") %> PiZu
    </div>
  </div>
</footer>